/*  your css code here. If applicable */
.container{
	width:300px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:#ccc;
	padding:30px;
	border-radius:30px;
	border:4px solid black;
	
	
	
}
.green{
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:green;
    margin:0 10px;
}
.yellow{
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:yellow;
	margin:0 10px;
}
.red{
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:red;
	margin:0 10px;
}
